{% extends 'login_signup.html' %}





{% block content %}

{{ not_authenticaded_message }}


{% csrf_token %}


<div class="fields">
    {% for error in form.username.errors %}
        <div class="errorlist">{{ error }}</div>
    {% endfor %}

    <div id="username">
        {{form.username}}
    
    </div>

    {% for error in form.email.errors %}
        <div class="errorlist">{{ error }}</div>
    {% endfor %}
    
    <div id="email">
        {{form.email}}

    </div>
    <div id="password">

        {{form.password}}
    </div>
</div>

{% endblock %}