{% extends 'main.html' %}
    

{% block head %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}


{% block content %}
<style>
    .about #title{
        display: flex;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
        margin: 2em;
    }          
    p {
        text-align: center;
    }
    #container-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #container-wrap a {
        font-style: none;
    }
    .container {
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin-top: 3em;
        margin-right: 1em;
        width: 200px;
        height: 200px;
        border-radius: 25px;
        opacity: 0.5;
        background-color: #ffffff;

    }

.container:hover {
  color: white;
  border-radius: 0px;
  background: linear-gradient(#4d9957, #ffd900);
  transition: 0.5s;
  opacity: 1;

}

.header-container {
  height: 20px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

}

a {
  color: black;
  text-decoration: none;
}
</style>
<div class="about">
    <h1 id="title">An aspiring Software Engineer</h1>
    <p>I always loved building computers and programming, that's why i want to eventually go to a computer science university</p>
</div>
    <p>one of my latest pc builds: </p>


    <section id="container-wrap">
    <a href="https://github.com/KyoozCPR/BitBook">
        <div class="container" id="container-1">
          <div class="header-container">
          BitBook
          </div>
        </div>
      </a>
      <a href="https://github.com/KyoozCPR/Discord-Bot-With-Python">
        <div class="container" id="container-2">
          <div class="header-container">
          Discord
          </div>
        </div>
      </a>
      <a href="https://github.com/KyoozCPR/ComputerScience-homework">
        <div class="container" id="container-3">
          <div class="header-container">
          Progetti Scolastici
          </div>
        </div>
      </a>
    </section>
{% endblock %}

