{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/login_signup.css' %}">
    <title>Login&Signup</title>
</head>

<div id="loginform">
    

    <form method="post">
            <div id="logtext">
                <h1 id="textform">Accedi al portale</h1>
            </div>
            
            {% block content %}
            
            {% endblock %}
            

        <br>
        <input id="sumbitbutton" type="submit" value="Submit">
        {% block logsign %}
            
        {% endblock %}
    </form>
</div>
