html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

nav img {
    height: 70px;
    margin-left: 5em;
    border-radius: 50%;

}

nav {
    position: sticky;
    top: 0;
    z-index: 2;
}

.navigation-container {
    height: 70px;
    background-color: rgb(33, 33, 33);
}


.navigation-container ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin-top: 0;

}


.navigation-container li {
    margin: 10px;
}


.navigation-container #search {
    margin-top: 3px;
    color: #70924d;

}


.navigation-container a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

footer {
    text-align: center;
    font-size: 15px;
    padding-top: 70px;
    padding-bottom: 60px;

}

#quick-action {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

#quick-action li {
    margin-right: 50px;
}

#quick-action a {
    text-decoration: none;
}


a {
    color: black;
    text-decoration: none;
}


#bodywrapper {
    background-color: rgb(33, 33, 33);
    color: white;
}

.custom-font {
    font-family: "DM Serif Display", serif;
}

#allert {
    margin-top: 3em;
    background-color: hsl(45 100% 70%);
    font-weight: 700;

}


.Description-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}


.Description-wrapper img {
    border-radius: 50px;
    margin-top: 25px;
}


.Description-wrapper #Name {
    margin-top: 5em;
}


#Statement {
    font-size: 18px;
}


#link {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 22px;
    position: relative;
    color: hsl(45 100% 70%);
    z-index: 0;
}


#link::before {
    z-index: -1;
    background: hsl(0, 0%, 100%);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}


#link:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

#link:hover {
    color: #70924d;
}


.popup_selector {
    display: flex;
    justify-content: center;
    margin-top: 7.5em;
}


.popup_selector #explore {
    background-color: #70924d;
    border: 2px solid #70924d;
    padding: 10px 30px;
    border-radius: 10px;
    transition-duration: 0.4s;
    margin-bottom: 5em;
}


.popup_selector #explore:hover {
    background-color: white;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35em;
    width: 35em;
    border-radius: 25px;
    background-color: rgb(33, 33, 33);
    border: 1px solid #CCCCCC;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#password {
    height: 20em;
}

.popup-navigation {
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    color: #ffff;
}


.popup-navigation #close-popup {
    height: 40px;
    width: 40px;
    border-radius: 25px;
    background-color: #ffffff;
    transition-duration: 0.5s;
    border: 3px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}


.popup-navigation #close-popup:hover {
    background-color: #202124;
    color: #ffffff;
    padding: 4.5px;
    border: 3px solid #70924d;
}


.popup #start h4 {
    margin-top: 5em;
    text-align: center;
    font-size: 21px;
    font-weight: normal;
    color: #ffffff;
}


.popup #explore {
    margin-top: 5em;
    display: flex;
    justify-content: center;

}


.popup #explore-popup {
    border-radius: 10px;
    border: 2px;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: normal;
    transition-duration: 0.5s;
}


.popup #explore-popup:hover {
    background-color: #70924d;


}


#gradient {
    height: clamp(180px, 25vw, 400px);
    background: rgb(33, 33, 33);
    background: linear-gradient(180deg, rgb(33, 33, 33) 0%, rgb(127, 125, 125) 45%, rgba(255, 255, 255, 1) 100%);
}


#gradient2 {
    height: clamp(180px, 25vw, 400px);
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, #70924d 25%, hsl(45, 75%, 55%));

}


#about {
    background-color: hsl(45, 75%, 55%);
    height: 500px;
}


.about #title {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin: 2em;
}

.about #title i {
    color: #70924d;
}


.about p {
    text-align: center;
}


#container-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10em;
}


#container-wrap a {
    text-decoration: none;
}


.container {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 3em;
    margin-right: 1em;
    width: 200px;
    height: 200px;
    border-radius: 25px;
    opacity: 0.5;
    background-color: #ffffff;
}


.container:hover {
    color: white;
    border-radius: 0px;
    background: linear-gradient(#4d9957, #ffd900);
    transition: 0.5s;
    opacity: 1;
}

.typewrite {
    color: #70924d
}


.header-container {
    height: 20px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#about-title, #about-description {
    margin-left: 20%;
    margin-right: 10%;
}

