#bodywrapper {
    background-color: white;
    color: black;
}

#user-text {
    display: flex;
    margin: 5em 20%;
    padding: 1%;
    flex-direction: column;
    background-color: rgb(33, 33, 33);
    border-radius: 15px;
    color: #ffffff;
}

.profile-section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 100px;

}

#credentials {
    background-color: rgb(53, 53, 53);
    border-radius: 15px;
    padding: 10px;
    margin-top: 2em;


}

.section-mofidy {

    height: 40px;
    width: 80px;
    background-color: rgb(100, 100, 100);
    color: white;
    border: none;
    border-radius: 5px;
}


.main {
    background-color: rgb(96, 143, 26);
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    margin-top: 1em;
}


h4 {
    color: rgb(125, 125, 125);
    margin-bottom: 0px;
}

a {
    text-decoration: none;

}

#wrap-banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

#banner {
    display: flex;
    align-items: center;
}

#username {
    margin-left: 20px;
}

body #password {
    height: auto;
    width: 25em;
}

#password-input {
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
}

.credentials-input {
    padding: 10px;

}

#submitbutton {
    margin-top: 3em;
    padding: 10px;
    background-color: #608f1a;
    width: 30%;
    border-radius: 5px;
    color: white;
    border: none;
    margin-bottom: 2em;

}
label {
    margin-bottom: 1em;
    margin-top: 2em;

}

#submitbutton:hover {
    background-color: white;
    color: black;
    transition-duration: 0.3s;
}
