{% extends 'main.html' %}
{% load static %}


{% block head %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Kyooz</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<script>

    function OpenPopup() {
        let body_overlay = document.getElementById("bodywrapper");
        let popup_element = document.getElementById("popup");
        let navbar = document.getElementsByClassName("navigation-container");
        popup_element.style = "display: block;";
        body_overlay.style = "background-color: grey; opacity: 1;";
        navbar.style = "background-color: grey; opacity: 1;";
    }
    
    function ClosePopup() {
        const popup_element = document.getElementById("popup");
        const bodywrapper = document.getElementById("bodywrapper");
        bodywrapper.style = "backgroundColor: #FFFFF; opacity: none";
        popup_element.style = "display: none;";
    }
    function explore() {
        location.href = "{% url 'survey' %}";
    }

</script>

<div class="Description">

    <h1 id="Name">Hello my name is Diego</h1>
    <p id="Statement">I'm a student at Istituto Andrea Ponti di Gallarate and I code since i was 13 years old</p>
</div>

<div class="popup_selector">
    <button id="explore" onclick="OpenPopup()">Explore</button>
</div>



<div id="popup" class="popup" style="display: none;">
    <div id="popup-navigation">

        <h3>Welcome to my portfolio!</h3>
        <button id="close-popup" onclick="ClosePopup()">
            <span class="material-symbols-outlined">close</span>
        </button>
    </div>

    <div id="start">
   
        <h4>Explore my github and my socials! <p>for future projects</p></h4>
        <div id="explore">
            <button id="explore-popup" onclick="explore()">Esplora</button>
        </div>
    </div>
</div>
{% endblock %}

