{% extends 'main.html' %}
{% load static %}


{% block head %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Kyooz</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    
<div id="main-container-wrap">
    {% if request.session.Authenticated_Message %}
        <div id="allert">
            <p>{{ request.session.Authenticated_Message}}</p>
        </div>
    {% endif %}
    <div class="Description-wrapper">
        <div>
            <h1 id="Name">Hello I'm <a href="" class="typewrite" data-period="2000" data-type='[ "Diego ", "a Backend Developer ", "a Musician "]'><span class="wrap"> </span></a></h1>
            <div id="Statement">
                <p style="display:inline-block; margin: 0;">I'm a student at Istituto</p>
                <a id="link" href="https://www.iisponti.edu.it/"><i class="custom-font">Andrea Ponti di Gallarate</i></a><br>
                <p style="margin: 0; display: inline-block">and I've been involved in programming since i was 14 years old</p>
            </div>
        </div>
        
    
        <img src="{% static 'images/diego.png' %}" height="350px" width="350px">
    </div>
   
    <div class="popup_selector">
        <button id="explore" onclick="OpenPopup()">Explore</button>
    </div>



    <div id="popup" class="popup" style="display: none">
        <div id="popup-navigation">

            <h3>Welcome to my portfolio!</h3>
            <button id="close-popup" onclick="ClosePopup()">
                <span class="material-symbols-outlined">close</span>
            </button>
        </div>

        <div id="start">
        
            <h4>Explore my github and my socials! <p>for future projects</p></h4>
            <div id="explore">
                <button id="explore-popup" onclick="explore()">Esplora</button>
            </div>
        </div>
    </div>
</div>
<div id="gradient"></div>
{% endblock %}
{% block about %}
<div class="about">
    <h1 id="title">An&nbsp<i class="custom-font">Aspiring</i>&nbspSoftware Engineer</h1>
    <p>I always loved building computers and programming, that's why i want to eventually go to a computer science university</p>
</div>


<section id="container-wrap">
    <a href="https://github.com/KyoozCPR/BitBook">
        <div class="container" id="container-1">
          <div class="header-container">
          BitBook
          </div>
        </div>
      </a>
      <a href="https://github.com/KyoozCPR/Discord-Bot-With-Python">
        <div class="container" id="container-2">
          <div class="header-container">
          Discord
          </div>
        </div>
      </a>
      <a href="https://github.com/KyoozCPR/ComputerScience-homework">
        <div class="container" id="container-3">
          <div class="header-container">
          Progetti Scolastici
          </div>
        </div>
      </a>
</section>
<div>
    <div id="gradient2"></div>
    <section id="about">
    
    
        <div id="about-title">
            <h1 class="about-text">About me</h1>
        </div>
    
    
        <div id="about-description">
            <p class="about-text">i've been coding many different projects</p>
        </div>
        
    
    
    </section>

</div>




{% endblock %}

