{% extends 'login_signup.html' %}

{% block content %}
{% for field in form %}
{{ field.errors }}
{% endfor %}


{% if request.session.errorlogin %}
    {{ request.session.errorlogin}}
{% endif %}

{% csrf_token %}
<div class="fields">
<div id="email">
    {{form.email}}
    
</div>

<div id="password">

    {{form.password}}
</div>
</div>

{% endblock %}


{% block logsign %}
<div id="login">
    <br>
    <p>Don't have an account yet?<a href="{% url 'signup' %}"> Sign up</a></p>

</div>
            
{% endblock %}